.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: black;
}

.createArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #181818;
  border-radius: 4px;
  padding: 2rem;

  gap: 1rem;

  input[type="text"] {
    padding: 1rem;
    background-color: #181818;
    border: 2px solid #333;
    border-radius: 4px;
    color: white;
  }

  textarea {
    padding: 1rem;
    background-color: #181818;
    border: 2px solid #333;
    border-radius: 4px;
    color: white;
  }

  label {
    color: white;
    font-size: 1.2rem;
    // margin: 0.5rem 0;
  }
}

.button {
  padding: 1rem;
  background-color: #333;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #3a3a3a;
  }
}
