.card {
  border-radius: var(--border-radius, 0.5rem);
  border: 1px solid var(--stroke-color, rgba(61, 137, 255, 0.26));
  background: var(--surface-color, rgba(61, 137, 255, 0.06));
  box-shadow: 0px 4px 6px 0px rgba(61, 137, 255, 0.2);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 33.5625rem;
  min-width: 30rem;

  min-height: 6.25rem;
  padding: 1.25rem;
  align-items: flex-start;
  gap: 1rem;

  h2 {
    color: var(--text-dark, #0e1236);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    height: 100%;
  }

  p {
    color: var(--text-dark, #0e1236);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8999999761581421;
  }
}

.button {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.35369rem;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(255, 96, 61, 0.1),
    0px 4px 6px 0px rgba(255, 96, 61, 0.1);
  color: var(--text-light, #f8f7f7);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: scale 0.2s ease-in, mix-blend-mode 0.2s ease-in;
  &:hover {
    scale: 1.02;
    mix-blend-mode: multiply;
  }
}

.secondary {
  border-radius: 0.35369rem;
  border: 0.707px solid var(--stroke-color, rgba(61, 137, 255, 0.26));
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(21, 40, 108, 0.06),
    0px 2px 4px 0px rgba(21, 40, 108, 0.06);
  color: var(--text-dark);
}

.danger {
  background: #ff5530;
  color: var(--text-light) !important;
}

.primary {
  background: #3d89ff;
  box-shadow: 0px 2px 16px 0px rgba(62, 104, 255, 0.3);
}
